@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewBag.Title = "BasicData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/css/font-client.css" rel="stylesheet">
<link href="/css/icons-setting.css" rel="stylesheet">

<div class="col-sm-6 size-card-header">
    <div class="card" style="height:220px;">
        <div class="card-header">
            <div class="row g-5">
                <div class="col-auto">
                    <i class="material-icons icons">settings</i>
                    @localizer["jobs"]
                </div>
                <div class="col-auto div-btn-search">
                    <input class="btn btn-outline-info button_search" type="submit" value="@localizer["search"]" />
                </div>
                <div class="col-auto div-btn-add">
                    <input id="showModalJobAddBtn" data-target="#addJobModal" class="btn btn-success button_add" type="submit" value="@localizer["new-add"]" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row g-5">
                <div class="col-2">
                    <label class="col-form-label">@localizer["name-arabic"]</label>
                </div>
                <div class="col-md-4" style="align-content:center;">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2">
                    <label class="col-form-label">@localizer["name-english"]</label>
                </div>
                <div class="col-md-4" style="align-content:center;">
                    <input type="text" class="form-control">
                </div>
                <div>
                    <input class="btn btn-danger btn-delete-field" type="submit" value="@localizer["clear-fields"]" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 size-card-header result-search size-header-jobs">
    <div class="card">
        <div class="card-header">
            <i class="material-icons icons">settings</i>
            @localizer["research-results"]
        </div>
        <div class="card-body">
            <table id="Table_Datatable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">@localizer["name"]</th>
                        <th scope="col">@localizer["national-number"]</th>
                        <th scope="col">@localizer["identification-number"]</th>
                        <th scope="col">@localizer["bank"]</th>
                        <th scope="col">@localizer["branch"]</th>
                        <th scope="col">@localizer["the-device-name"]</th>
                        <th scope="col">@localizer["settings"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">asem</th>
                        <td>123</td>
                        <td>456</td>
                        <td>misr</td>
                        <td>cairo</td>
                        <td>device</td>
                        <td>
                            <div class="dropdown">
                                <span class="style-icon" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa fa-gear" style="color:#0d9edf"></i></span>
                                <ul class="dropdown-menu color-icon-setting" aria-labelledby="dropdownMenuButton1">
                                    <li><a id="showModalJobEditBtn" data-target="#jobEditModal" class="dropdown-item setting-item"><i class='fas fa-edit'></i> @localizer["edit"]</a></li>
                                    <li><a id="showModaljobDetailsBtn" data-target="#jobDetailsModal" class="dropdown-item setting-item" href="#"><i class='fas fa-info'></i>  @localizer["details"]</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="/Views/PartialView/_AddJob.cshtml">
    <partial name="/Views/PartialView/_EditJob.cshtml">
        <partial name="/Views/PartialView/_DetailsJob.cshtml">
            @section Scripts{
                <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
                <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
                <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
                <script src="~/lib/datatables-buttons/dataTables.buttons.min.js" asp-append-version="true"></script>
                <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
                <script src="~/js/App.js" asp-append-version="true"></script>
            }
