@model LegelProNewVersion.Models.tbl_SystemConfig
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Ehm.styles.css" asp-append-version="true" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/main-config-style.css" rel="stylesheet" />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">System Config</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/SystemConfig/LoginStyle">Login Style</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/SystemConfig/MainStyle">Main Style</a>
    </li>
</ul>
<h2>System Config</h2>
<p>
    <a class="btn btn-success" asp-action="EditMainConfig" asp-route-id=@Model.Id>Edit Main Config</a>
    <a asp-controller="WelcomePage" asp-action="Index" class="btn btn-outline-info btn-back">Back To WelcomePage</a>
</p>
<div class="container">
    <div class="main-body" style="width:120%;">
        <div class="row gutters-sm">
            <div class="col-md-10">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"> @Html.DisplayNameFor(model => model.ActiveDirectoryDomain)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryDomain)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryEnable)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryEnable)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryIbmLink)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryIbmLink)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryIsAttachment)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryIsAttachment)
                            </div>
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.EnableOTP)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EnableOTP)
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryIsIbmAttachment)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryIsIbmAttachment)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.tbl_LoginStyle!.StyleNameEnglish)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.tbl_LoginStyle!.StyleNameEnglish)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.tbl_MainStyle!.StyleNameEnglish)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.tbl_MainStyle!.StyleNameEnglish)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryIsSendMail)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryIsSendMail)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryUserName)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryUserName)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.ActiveDirectoryPassword)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.ActiveDirectoryPassword)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.BankNameArabic)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.BankNameArabic)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.BankNameEnglish)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.BankNameEnglish)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.BankBranchNumber)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.BankBranchNumber)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.BankLogoPath)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.BankLogoPath)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.BankImagePath)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.BankImagePath)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.EnableMultiLanguage)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.EnableMultiLanguage)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.NumberOfMaxCreateUser)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.NumberOfMaxCreateUser)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.NumberOfMaxUserLoginAtTime)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.NumberOfMaxUserLoginAtTime)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"> @Html.DisplayNameFor(model => model.WelcomeScreenImage)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.WelcomeScreenImage)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.WelcomeScreenTimeInterval)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.WelcomeScreenTimeInterval)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.WelcomeScreenTextArabic)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.WelcomeScreenTextArabic)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.WelcomeScreenTextEnglish)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.WelcomeScreenTextEnglish)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>