@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

<link href="/css/style-popup-add-client.css" rel="stylesheet" />

<div class="modal fade" id="ClienteditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer["edit-the-mailers"]</h5>
                <button type="button" id="closeClientEditBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row g-4">
                    <div class="col-2">
                        <label>@localizer["name-arabic"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" required="required" />
                    </div>
                    <div class="col-2">
                        <label>@localizer["name-english"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" required="required" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="mainCloseClientEditBtn" class="btn btn-secondary" data-dismiss="modal">@localizer["close"]</button>
                <button type="button" class="btn btn-primary color-btnSave" id="btnAdd">@localizer["save"]</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $('#showModalClientEditBtn').click(function () {

        $('#ClienteditModal').modal('show');
    });
    $('#closeClientEditBtn').click(function () {

        $('#ClienteditModal').modal('toggle');
    });
    $('#mainCloseClientEditBtn').click(function () {

        $('#ClienteditModal').modal('toggle');
    });
</script>
